.article {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.article__content {
    height: 100%;
    flex: 1 0 auto;
}

.article__imgBox {
    width: 30px;
    height: 30px;
}

.article__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}