.btn {
    border-radius: 211px;
    // background: #DD2242;
    // background: linear-gradient(93deg, #0499DD 0%, #17C1BC 100%);
    background-color: #019edb;
    padding: 20px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border: none;

    @media (any-hover: hover) {
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}