.btn {
    border-radius: 4px;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;

    border: none;
    padding: 10px 14px;
    max-width: 248px;
    width: 100%;
    // position: absolute;
    // bottom: 10px;
    // right: 0;
}